
@{
    ViewData["Title"] = Global.Currencies;
    var standalone = string.IsNullOrEmpty(Context.Request.Query["standalone"]) ? false : true;
    var divClass = "col-xl-10 col-lg-12";
}

<div class="card margin-card container-fluid yourdiv">
    <div class="card-header position-relative padding-card row">
        <div class="col-md-4">
            <span class="icon-page"></span> <h3 class="page-name">@Global.Currencies</h3>
        </div>
        <partial name="_HomeIcon" />
    </div>
    <div class="card-body max-height">
        <div class="padding-screen"></div>
        <div class="row">
            <div class="col-xl-2 col-lg-12 left-menu">
                <!--Side menu-->
                <div class="card ">

                    <div class="card-header back-green">
                        @Global.GeneralLedger/ @Global.Currencies
                    </div>
                    <div class="card-body back-black">
                        <ul class="result-search left-links">
                            <partial name="_LeftMenu" />
                        </ul>

                    </div>
                </div>
                <!--end Side menu-->
            </div>

            <div class="@divClass">
                <input type="hidden" id="Name" value="@Global.Currencies" />

                <!--Page Content-->
                <button type="button" class="btn btn-outline-success exportExcel" style="float:left;">@Global.Export<i class="fa fa-file-excel"></i></button>

                                    <a class="btn btn-success btn-sm btn-add" asp-action="Create"><i class="fas fa-plus"></i>@Global.AddNew</a>

                <br />
                <div id="CurrenciesGrid">

                </div>
                <!--Page Content-->
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/Pages/Currency/ListCurrencies.js"></script>
}
