
<nav id="main-nav">
    <ul id="main-menu" class="sm sm-simple sm-rtl">
        @*<li><a asp-action="MainBoard" asp-controller="Home">@Global.Home</a></li>*@
        <li><a asp-action="Main" asp-controller="Home" class="hvr-underline-from-center">@Global.Home</a></li>
        <li>
            <a href="#" class="hvr-underline-from-center"> @Global.GeneralSetting</a>
            <ul>
                <li>
                    <a href="#" class="hvr-underline-from-center">@Global.MainScreens</a>
                    
                </li>
                <li><a asp-action="Index" asp-controller="AspNetUser" class="hvr-underline-from-center">@Global.Users</a></li>
                <li><a asp-action="Create" asp-controller="Role" class="hvr-underline-from-center">@Global.Roles </a></li>
                <li><a asp-action="Index" asp-controller="DefCompany" class="hvr-underline-from-center"> @Global.CompanyProfilePageTitle</a></li>
                <li><a asp-action="Index" asp-controller="DefBranch" asp-route-standalone="1" class="hvr-underline-from-center"> @Global.CompanyBranches</a></li>
                <li><a asp-action="Index" asp-controller="DefCountry" asp-route-standalone="1" class="hvr-underline-from-center">@Global.Countries</a></li>
                <li><a asp-action="Index" asp-controller="DefCity" asp-route-standalone="1" class="hvr-underline-from-center">@Global.Cities</a></li>
                <li><a asp-action="Index" asp-controller="DefCurrency" asp-route-standalone="1" class="hvr-underline-from-center">@Global.Currency </a></li>
            </ul>
        </li>




       
        <li>
            <a href="#" class="hvr-underline-from-center">@Global.Assets</a>
            <ul>
                @*<li>
                <a href="#">@Global.Transactions</a>
                <ul>*@
                @*<partial name="_RceTransactionMenu" />*@
                @*</ul>
                </li>*@

            </ul>
        </li>
        

        <li>
            <a href="#" class="hvr-underline-from-center">@Global.EstimatedBudget</a>
            <ul>
                <li>
                    <a href="#" class="hvr-underline-from-center">@Global.Settings</a>
                    <ul>
                        <a asp-action="Index" asp-controller="EstimatedBudget" class="hvr-underline-from-center">@Global.EstimatedBudget</a>
                    </ul>
                </li>
                @*<li><a href="#">الحركات</a></li>
                <li><a href="#">التقارير</a></li>*@
            </ul>
        </li>

    </ul>
</nav>