
<li><a asp-action="Index" asp-controller="GlAccount" class="hvr-underline-from-center">@Global.AccountPageTitle</a></li>
<li><a asp-action="Index" asp-controller="GlAccountCategory" class="hvr-underline-from-center">@Global.AccountCategories</a></li>
<li><a asp-action="Index" asp-controller="GlAccountType" class="hvr-underline-from-center">@Global.AccountType</a></li>
<li><a asp-action="Index" asp-controller="GlFinancialPeriod" class="hvr-underline-from-center">@Global.FinancialPeriods</a></li>
<li><a asp-action="Index" asp-controller="DefCurrency" class="hvr-underline-from-center">@Global.Currencies</a></li>
<li><a asp-action="Index" asp-controller="GlCurrencyFactor" class="hvr-underline-from-center">@Global.CurrencyFactorPageTitle</a></li>
<li><a asp-action="Index" asp-controller="DefCoding" class="hvr-underline-from-center">@Global.CodingPageTitle</a></li>
<li><a asp-action="Index" asp-controller="GlAccountOpeningBalance" class="hvr-underline-from-center">@Global.OpeningBalances</a></li>