<li><a asp-action="CreateVoucher" asp-controller="GlJournalVoucher" class="hvr-underline-from-center">@Global.Add @GL.JournalVoucher</a></li>
<li><a asp-action="Index" asp-controller="GlJournalVoucher" class="hvr-underline-from-center">@GL.ShowJournalVouchers </a></li>
<li><a asp-action="Search" asp-controller="GlJournalVoucher" class="hvr-underline-from-center">@GL.SearchInJournalVoucher </a></li>

<br />

<li><a asp-action="Create" asp-controller="GlBond" class="hvr-underline-from-center">@Global.Add  @GL.DeferredBond</a></li>
<li><a asp-action="Index" asp-controller="GlBond" class="hvr-underline-from-center">@GL.ShowDeferredBonds</a></li>
<li><a asp-action="Search" asp-controller="GlBond" class="hvr-underline-from-center">@GL.SearchInDeferredBond</a></li>
<li><a asp-action="Index" asp-controller="GlPayment" class="hvr-underline-from-center">@GL.Payments</a></li>
@*<hr />*@
<li><a asp-action="PostingAndCancelVoucher" asp-controller="GlJournalVoucher" class="hvr-underline-from-center">@GL.PostingAndCancelVoucherAndCancelVouchrePageTitle</a></li>
