
<li><a asp-action="Index" asp-controller="DefFreezingReason" class="hvr-underline-from-center">@Global.FreezingReasonPageTitle</a></li>
<li><a asp-action="IndexPaymentCondition" asp-controller="PayLookups" asp-route-standalone="1" class="hvr-underline-from-center">@Global.PaymentConditionPageTitle</a></li>
<li><a asp-action="IndexPayDeliveryCondition" asp-controller="PayLookups" asp-route-standalone="1" class="hvr-underline-from-center">@Global.DeliveryConditionPageTitle</a></li>
<li><a asp-action="Index" asp-controller="CbDiscountType" asp-route-standalone="1" class="hvr-underline-from-center">@Global.CbDiscountTypePageTitle</a></li>
<li><a asp-action="Index" asp-controller="DefDocumentType" class="hvr-underline-from-center">@Global.DocumentType</a></li>
<li><a asp-action="Index" asp-controller="Taxes" asp-route-standalone="1" class="hvr-underline-from-center">@Global.TaxTitle</a></li>
<li><a asp-action="IndexPaymentType" asp-controller="PayLookups" asp-route-standalone="1" class="hvr-underline-from-center">@Global.PaymentTypePageTitle</a></li>
<li><a asp-action="Index" asp-controller="HrDepartment" asp-route-standalone="1" class="hvr-underline-from-center" >@Global.DepartmentPage</a></li>
<li><a asp-action="Index" asp-controller="HrEmployee" asp-route-standalone="1" class="hvr-underline-from-center">@Global.HrEmployeePageTitle</a></li>


